<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeNest</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/LogIn.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}
    
    {% endblock content %}
    

</body>
</html>